@font-face {
  font-family: "iconfont"; /* Project id 3655545 */
  src: url('iconfont.woff2?t=1663941690938') format('woff2'),
       url('iconfont.woff?t=1663941690938') format('woff'),
       url('iconfont.ttf?t=1663941690938') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e697";
}

.icon-folder:before {
  content: "\e6b0";
}

.icon-addressbook:before {
  content: "\e6b4";
}

.icon-live:before {
  content: "\e6c4";
}

